
.burst-12 {
  background: yellow;
  width: 200px;
  height: 200px;
  position: relative;
  text-align: center;
  transform
}
.burst-12:before, .burst-12:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 200px;
  background: yellow;
}
.burst-12:before {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}
.burst-12:after {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
}


.rotating {
  -webkit-animation: rotation 40s infinite linear;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}
