<!DOCTYPE html>
<html>
    <head>
        <title>Joe Frew</title>
        {# importing boostrap and jquery #}
        <link rel="shortcut icon" type="image/png" href="/static/images/logosmall.png"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <script src="/static/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static//css/base.css">
        {% block scripts %}{% endblock %}

        {% include "homepage/nav.html" %}
    </head>

    <body>
    {% block content %}{% endblock %}
    </body>

    <footer>
      {% include "homepage/footer.html" %}
    </footer>
</html>
