<!DOCTYPE html>
<html>
    <head>
        <title>Joe Frew</title>
        {# importing boostrap and jquery #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <script src="/static/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/homepage/css/base.css">
        {% block scripts %}{% endblock %}
    </head>

    <body>
    {% block content %}{% endblock %}
    </body>
</html>
