{% extends "homepage/base.html" %}


{% block scripts %}
{# including the CSS for this page #}
<link rel="stylesheet" type="text/css" href="/static/homepage/css/shapes.css">
<link rel="stylesheet" type="text/css" href="/static/homepage/css/socialmediabuttons.css">
<link rel="stylesheet" type="text/css" href="/static/homepage/css/main5.css">
{% endblock %}

{% block content %}

{% include "homepage/nav.html" %}

<div class="jumbotron">
    <div class="container">
      <img class="profile-picture center-horizontal" src="http://graph.facebook.com/joe.frew.39/picture?type=large"/>
          <h1 class="text-center">Joe Frew</h1>
          <h2 class="text-justify" id="intro-text">Hi, I'm Joe, a 2nd year Computing Science student at the University of Glasgow.
            I like tinkering with tech/programming and playing guitar, harmonica and piano.
            Recently I have taken a particular interest in webdev, big data and machine learning.</h2>
        <ul class="soc center-horizontal">
          <li><a class="soc-youtube" href="https://www.youtube.com/channel/UCzvsGaUdC3-bfI4x1xHvFMw"></a></li>
          <li><a class="soc-github" href="https://github.com/RetroMelon"></a></li>
          <li><a class="soc-facebook" href="https://www.facebook.com/joe.frew.39"></a></li>
          <li><a class="soc-linkedin soc-icon-last" href="#"></a></li>
          <!--li><a class="soc-twitter " href="#"></a></li-->
        </ul>
      </div>
</div>

<div class="content-section" id="cv-section">
  <div class="container">
    <div class="row text-center">
      <a class="" href="/static/homepage/files/Joe Frew - CV.pdf" id="cv-outer">
        <div id="cv-with-burst">
          <img src="/static/homepage/images/avatar.png" id="avatar">
          <img src="/static/homepage/images/burst.svg" id="burst-12" class="rotating">
          <img src="/static/homepage/images/cvthumb.png" class="center-horizontal" id="cv">
        </div>
      </a>
      <!--h2 class="" id="check-out-cv-text">CHECK OUT MY CV</h2-->
    </div>
  </div>

</div>

<div class="content-section">

  <input type="text" placeholder="search" id="search-term"/>

  <div class="container">
    <div class="row item-container">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 item">
        <div class="panel profile-widget">
          <a href="https://www.youtube.com/watch?v=F3hmwtnsWZA">
            <div class="panel-heading" style="background-image: url(/static/homepage/images/background2.jpg)">
            </div>
          </a>
          <ul class="  profile-soc soc center-horizontal">
            <li><a class="soc-youtube" href="https://www.youtube.com/watch?v=F3hmwtnsWZA"></a></li>
            <li><a class="soc-github soc-icon-last" href="https://github.com/RetroMelon"></a></li>
            <!--li><a class="soc-twitter " href="#"></a></li-->
          </ul>
          <div class="panel-body">
            <div class="media text-center">
              <div class="media-body">
                <h2 class="media-heading">Raspberry Pi Robot</h2>
                A browser controlled robot with streaming video and speech synthesis based on node.js, socket-io.
              </div>
            </div>
          </div>
          <div class="btn-demo-wrapper center-horizontal">
            <a type="button" class="btn btn-info" aria-label="Left Align" href="/demo">
              Live Demo <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
          <div class="hashtags panel-footer">
            <p class="searchable">#hashtag</p>
            <p class="searchable">#robots</p>
            <p class="searchable">#hello</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<script src="/static/js/vendor/isotope.pkgd.js"></script>
<script src="/static/js/isotopeSearchFilter.jquery.js"></script>
<script src="/static/homepage/js/main5.js"></script>

  {% endblock %}
