{% extends "homepage/base.html" %}


{% block scripts %}
{# including the CSS for this page #}
<link rel="stylesheet" type="text/css" href="/static/homepage/css/socialmediabuttons.css">
<link rel="stylesheet" type="text/css" href="/static/homepage/css/main5.css">
{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container">
      <img class="profile-picture center-horizontal" src="http://graph.facebook.com/joe.frew.39/picture?type=large"/>
          <h1 class="text-center">Joe Frew</h1>
          <h3 class="text-justify" id="intro-text">Hi, I'm Joe, a 2nd year Computing Science student at the University of Glasgow.
            I like tinkering with tech/programming and playing guitar, harmonica and piano.
            Recently I have taken a particular interest in webdev, big data and machine learning.</h2>
        <ul class="soc center-horizontal">
          <li><a class="soc-youtube" href="https://www.youtube.com/channel/UCzvsGaUdC3-bfI4x1xHvFMw"></a></li>
          <li><a class="soc-github" href="https://github.com/RetroMelon"></a></li>
          <li><a class="soc-facebook" href="https://www.facebook.com/joe.frew.39"></a></li>
          <li><a class="soc-linkedin soc-icon-last" href="#"></a></li>
          <!--li><a class="soc-twitter " href="#"></a></li-->
        </ul>
      </div>
</div>

<div class="content-section" id="cv-section">
    <div class="center-horizontal">
      <a class="" href="/static/homepage/files/Joe Frew - CV.pdf" id="cv-outer">
        <div id="cv-with-burst">
          <img src="/static/homepage/images/speechbubble.png" id="avatar">
          <img src="/static/homepage/images/burst.svg" id="burst-12" class="rotating">
          <img src="/static/homepage/images/cvthumbsmall.png" class="center-horizontal" id="cv">
        </div>
      </a>
    </div>
      <!--h2 class="" id="check-out-cv-text">CHECK OUT MY CV</h2-->
</div>

<div class="content-section" id="projects-section">

  <h1 id="projects-text">Projects</h1>
  <ul class="filter-list">
    <li class="btn" filter="">All</li>
    <li class="btn" filter="Google">Google</li>
    <li class="btn" filter="Robot">Robot</li>
    <li class="btn" filter="Stilton">Cheese</li>
    <li><input type="text" class="form-control" placeholder="Custom Filter" id="search-term">
    </input></li>
  </ul>

  <div class="container">
    <div class="row item-container">


      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 item">
        <span class="searchable" style="display: none;">all</span><!-- for when we filter all -->
        <div class="panel profile-widget">
          <a href="https://www.youtube.com/watch?v=F3hmwtnsWZA">
            <div class="panel-heading" style="background-image: url(/static/homepage/images/robot.png)">
            </div>
          </a>
          <ul class="  profile-soc soc center-horizontal">
            <li><a class="soc-youtube" href="https://www.youtube.com/watch?v=F3hmwtnsWZA"></a></li>
            <li><a class="soc-github soc-icon-last" href="https://github.com/RetroMelon/Raspberry-Pi-Car"></a></li>
          </ul>
          <div class="panel-body">
            <div class="media text-center">
              <div class="media-body">
                <h2 class="media-heading">Raspberry Pi Robot</h2>
                A browser controlled robot with live video and speech synthesis based on node.js and websockets.
              </div>
            </div>
          </div>
          <div class="bottom-container">
            <div class="btn-demo-wrapper center-horizontal">
              <a type="button" class="btn btn-danger" aria-label="Left Align" href="https://www.youtube.com/watch?v=F3hmwtnsWZA">
                View on Youtube <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
            <div class="hashtags panel-footer">
              <p class="searchable">#Robotics</p>
              <p class="searchable">#Robot</p>
              <p class="searchable">#node.js</p>
              <p class="searchable">#websockets</p>
              <p class="searchable">#speech synthesis</p>
            </div>
          </div>
        </div>
      </div>
      {% include "homepage/projectpanels.html" %}
      {% include "homepage/testpanels.html" %}

    </div>
    <div class="col-xs-12 col-lg-12 center-horizontal" id="noitems">
      <h2>Sorry, there are no projects that match your query <span class="glyphicon glyphicon-thumbs-down"></span></h2>
    </div>
  </div>
</div>


<script src="/static/js/vendor/isotope.pkgd.js"></script>
<script src="/static/js/isotopeSearchFilter.jquery.js"></script>
<script src="/static/homepage/js/main5.js"></script>

  {% endblock %}
