<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 item">
  <div class="panel profile-widget">
    <a href="https://www.youtube.com/watch?v=F3hmwtnsWZA">
      <div class="panel-heading" style="background-image: url({{STATIC_URL}}images/robot.png)">
      </div>
    </a>
    <ul class="  profile-soc soc center-horizontal">
      <li><a class="soc-youtube" href="https://www.youtube.com/watch?v=F3hmwtnsWZA"></a></li>
      <li><a class="soc-github soc-icon-last" href="https://github.com/RetroMelon/Raspberry-Pi-Car"></a></li>
    </ul>
    <div class="panel-body">
      <div class="media text-center">
        <div class="media-body">
          <h2 class="media-heading">Raspberry Pi Robot</h2>
          A browser controlled robot with live video and speech synthesis based on node.js and websockets.
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="btn-demo-wrapper center-horizontal">
        <a type="button" class="btn btn-danger" aria-label="Left Align" href="https://www.youtube.com/watch?v=F3hmwtnsWZA">
          View on Youtube <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
      <div class="hashtags panel-footer">
        <p class="searchable">#Robotics</p>
        <p class="searchable">#Robot</p>
        <p class="searchable">#node.js</p>
        <p class="searchable">#websockets</p>
        <p class="searchable">#speech synthesis</p>
      </div>
    </div>
  </div>
</div>
