<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 item active">
  <div class="panel profile-widget">
    <a href="https://www.youtube.com/watch?v=F3hmwtnsWZA">
      <div class="panel-heading" style="background-image: url({{STATIC_URL}}images/robot.png)">
      </div>
    </a>
    <ul class="  profile-soc soc center-horizontal">
      <li><a class="soc-youtube" href="https://www.youtube.com/watch?v=F3hmwtnsWZA"></a></li>
      <li><a class="soc-github soc-icon-last" href="https://github.com/RetroMelon/Raspberry-Pi-Car"></a></li>
    </ul>
    <div class="panel-body">
      <div class="media text-center">
        <div class="media-body">
          <h2 class="media-heading">Raspberry Pi Robot</h2>
          A browser controlled robot with live video and speech synthesis based on node.js and websockets.
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="btn-demo-wrapper center-horizontal">
        <a type="button" class="btn btn-danger" aria-label="Left Align" href="https://www.youtube.com/watch?v=F3hmwtnsWZA">
          View on Youtube <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
      <div class="hashtags panel-footer">
        <p class="searchable">#Robotics</p>
        <p class="searchable">#Robot</p>
        <p class="searchable">#Node.js</p>
        <p class="searchable">#Websockets</p>
        <p class="searchable">#Javascript</p>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 item active">
  <div class="panel profile-widget">
    <a href="https://github.com/RetroMelon/GraPy">
      <div class="panel-heading" style="background-image: url({{STATIC_URL}}images/graph.png)">
      </div>
    </a>
    <ul class="  profile-soc soc center-horizontal">
      <li><a class="soc-github soc-icon-last" href="https://github.com/RetroMelon/GraPy"></a></li>
    </ul>
    <div class="panel-body">
      <div class="media text-center">
        <div class="media-body">
          <h2 class="media-heading">GraPy</h2>
          A simple python library for visualising force-directed graphs. Graphs can be interacted with using the mouse.
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="btn-demo-wrapper center-horizontal">
        <a type="button" class="btn btn-default" aria-label="Left Align" href="https://github.com/RetroMelon/GraPy">
          View on GitHub <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
      <div class="hashtags panel-footer">
        <p class="searchable">#Graphs</p>
        <p class="searchable">#Python</p>
        <p class="searchable">#Pygame</p>
        <p class="searchable">#Data</p>
        <p class="searchable">#Visualisation</p>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 item active">
  <div class="panel profile-widget">
    <a href="https://github.com/RetroMelon/PortfolioWebsite">
      <div class="panel-heading" style="background-image: url({{STATIC_URL}}images/thatssometa.png)">
      </div>
    </a>
    <ul class="  profile-soc soc center-horizontal">
      <li><a class="soc-github soc-icon-last" href="https://github.com/RetroMelon/PortfolioWebsite"></a></li>
    </ul>
    <div class="panel-body">
      <div class="media text-center">
        <div class="media-body">
          <h2 class="media-heading">This Website</h2>
          I know what you're thinking; web-ception right? This website is built on Django, Bootstrap and jQuery. Nginx is used to serve static content.
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="btn-demo-wrapper center-horizontal">
        <a type="button" class="btn btn-default" aria-label="Left Align" href="https://github.com/RetroMelon/PortfolioWebsite">
          View on GitHub <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
      <div class="hashtags panel-footer">
        <p class="searchable">#Website</p>
        <p class="searchable">#Development</p>
        <p class="searchable">#Django</p>
        <p class="searchable">#jQuery</p>
        <p class="searchable">#Bootstrap</p>
        <p class="searchable">#This-is-so-meta</p>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 item active">
  <div class="panel profile-widget">
    <a href="https://github.com/RetroMelon/PortfolioWebsite">
      <div class="panel-heading" style="background-image: url({{STATIC_URL}}images/music.png)">
      </div>
    </a>
    <ul class="  profile-soc soc center-horizontal">
      <li><a class="soc-youtube" href="https://www.youtube.com/channel/UCzvsGaUdC3-bfI4x1xHvFMw"></a></li>
      <li><a class="soc-soundcloud soc-icon-last" href="https://soundcloud.com/joefrew"></a></li>
    </ul>
    <div class="panel-body">
      <div class="media text-center">
        <div class="media-body">
          <h2 class="media-heading">Music Covers</h2>
          I aim to record some music covers on acoustic guitar, harmonic and vocals. While you wait, you can listen to Natascha and I perform Wagon Wheel.
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="btn-demo-wrapper center-horizontal">
        <a type="button" class="btn btn-warning" aria-label="Left Align" href="https://soundcloud.com/nataschaadms/wagon-wheel-cover-ft-joe-frew">
          Wagon Wheel <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
      <div class="hashtags panel-footer">
        <p class="searchable">#Music</p>
        <p class="searchable">#Cover</p>
        <p class="searchable">#Harmonica</p>
        <p class="searchable">#Guitar</p>
        <p class="searchable">#Singing</p>
        <p class="searchable">#Bobdylanrocks</p>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 item active">
  <div class="panel profile-widget">
    <a href="https://github.com/RetroMelon/Intergalactic-Intruders">
      <div class="panel-heading" style="background-image: url({{STATIC_URL}}images/intruders.png)">
      </div>
    </a>
    <ul class="  profile-soc soc center-horizontal">
      <li><a class="soc-github soc-icon-last" href="https://github.com/RetroMelon/Intergalactic-Intruders"></a></li>
    </ul>
    <div class="panel-body">
      <div class="media text-center">
        <div class="media-body">
          <h2 class="media-heading">Intergalactic Intruders</h2>
          A Space Invaders clone with particle effects, online multiplayer and bosses. Written in Java in 2012.
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="btn-demo-wrapper center-horizontal">
        <a type="button" class="btn btn-info" aria-label="Left Align" href="https://github.com/RetroMelon/Intergalactic-Intruders/blob/master/I-Intruders-demo.jar?raw=true">
          Demo JAR <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
      <div class="hashtags panel-footer">
        <p class="searchable">#Game</p>
        <p class="searchable">#SpaceInvaders</p>
        <p class="searchable">#Engine</p>
        <p class="searchable">#Java</p>
        <p class="searchable">#Graphics</p>
      </div>
    </div>
  </div>
</div>
