<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 item">
  <div class="panel profile-widget">
    <a href="www.google.co.uk">
      <div class="panel-heading" style="background-image: url(/static/homepage/images/panel1.jpg)">
      </div>
    </a>
    <ul class="  profile-soc soc center-horizontal">
      <li><a class="soc-github soc-icon-last" href="https://github.com/RetroMelon"></a></li>
      <!--li><a class="soc-twitter " href="#"></a></li-->
    </ul>
    <div class="panel-body">
      <div class="media text-center">
        <div class="media-body">
          <h2 class="media-heading">Googlehorse</h2>
          The google horse is a horse whose img will mysteriously redirect to google! Try it out for yourself
        </div>
      </div>
    </div>
    <div class="btn-demo-wrapper center-horizontal">
      <a type="button" class="btn btn-default" aria-label="Left Align" href="/demo">
        View on GitHub <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    <div class="hashtags panel-footer">
      <p class="searchable">#google</p>
      <p class="searchable">#horse</p>
      <p class="searchable">#izbigmystery</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 item">
  <div class="panel profile-widget">
    <a href="https://www.youtube.com/watch?v=F3hmwtnsWZA">
      <div class="panel-heading" style="background-image: url(/static/homepage/images/background2.jpg)">
      </div>
    </a>
    <ul class="  profile-soc soc center-horizontal">
      <li><a class="soc-youtube" href="https://www.youtube.com/watch?v=F3hmwtnsWZA"></a></li>
      <li><a class="soc-github soc-icon-last" href="https://github.com/RetroMelon"></a></li>
      <!--li><a class="soc-twitter " href="#"></a></li-->
    </ul>
    <div class="panel-body">
      <div class="media text-center">
        <div class="media-body">
          <h2 class="media-heading">Raspberry Pi Robot</h2>
          A browser controlled robot with streaming video and speech synthesis based on node.js, socket-io.
        </div>
      </div>
    </div>
    <div class="btn-demo-wrapper center-horizontal">
      <a type="button" class="btn btn-info" aria-label="Left Align" href="/demo">
        Demo <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    <div class="hashtags panel-footer">
      <p class="searchable">#alienz</p>
      <p class="searchable">#hello</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 item">
  <div class="panel profile-widget">
    <a href="https://www.youtube.com/watch?v=F3hmwtnsWZA">
      <div class="panel-heading" style="background-image: url(/static/homepage/images/background2.jpg)">
      </div>
    </a>
    <ul class="  profile-soc soc center-horizontal">
      <li><a class="soc-youtube" href="https://www.youtube.com/watch?v=F3hmwtnsWZA"></a></li>
      <li><a class="soc-github soc-icon-last" href="https://github.com/RetroMelon"></a></li>
      <!--li><a class="soc-twitter " href="#"></a></li-->
    </ul>
    <div class="panel-body">
      <div class="media text-center">
        <div class="media-body">
          <h2 class="media-heading">Raspberry Pi Robot</h2>
          A browser controlled robot with streaming video and speech synthesis based on node.js, socket-io.
        </div>
      </div>
    </div>
    <div class="btn-demo-wrapper-hidden center-horizontal">
      <a type="button" class="btn btn-info" aria-label="Left Align" href="/demo">
        Live Demo <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    <div class="hashtags panel-footer">
      <p class="searchable">#hashtag</p>
      <p class="searchable">#robots</p>
      <p class="searchable">#alienz</p>
      <p class="searchable">#hello</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 item">
  <div class="panel profile-widget">
    <a href="https://www.youtube.com/watch?v=F3hmwtnsWZA">
      <div class="panel-heading" style="background-image: url(/static/homepage/images/background2.jpg)">
      </div>
    </a>
    <ul class="  profile-soc soc center-horizontal">
      <li><a class="soc-youtube" href="https://www.youtube.com/watch?v=F3hmwtnsWZA"></a></li>
      <li><a class="soc-github soc-icon-last" href="https://github.com/RetroMelon"></a></li>
      <!--li><a class="soc-twitter " href="#"></a></li-->
    </ul>
    <div class="panel-body">
      <div class="media text-center">
        <div class="media-body">
          <h2 class="media-heading">Raspberry Pi Robot</h2>
          A browser controlled robot with streaming video and speech synthesis based on node.js, socket-io.
        </div>
      </div>
    </div>
    <div class="btn-demo-wrapper-hidden center-horizontal">
      <a type="button" class="btn btn-info" aria-label="Left Align" href="/demo">
        Demo <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    <div class="hashtags panel-footer">
      <p class="searchable">#hashtag</p>
      <p class="searchable">#robots</p>
      <p class="searchable">#alienz</p>
      <p class="searchable">#hello</p>
    </div>
  </div>
</div>
