<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 item">
  <span class="searchable" style="display: none;">all</span>
  <div class="panel profile-widget">
    <a href="https://www.google.co.uk">
      <div class="panel-heading" style="background-image: url(/static/homepage/images/panel1.jpg)">
      </div>
    </a>
    <ul class="  profile-soc soc center-horizontal">
      <li><a class="soc-github soc-icon-last" href="https://github.com/RetroMelon"></a></li>
      <!--li><a class="soc-twitter " href="#"></a></li-->
    </ul>
    <div class="panel-body">
      <div class="media text-center">
        <div class="media-body">
          <h2 class="media-heading">Googlehorse</h2>
          The google horse is a horse whose img will mysteriously redirect to google! Try it out for yourself
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="btn-demo-wrapper center-horizontal">
        <a type="button" class="btn btn-default" aria-label="Left Align" href="https://github.com/retromelon">
          View on HorseHub <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
      <div class="hashtags panel-footer">
        <p class="searchable">#google</p>
        <p class="searchable">#horse</p>
        <p class="searchable">#izbigmystery</p>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 item">
  <span class="searchable" style="display: none;">all</span>
  <div class="panel profile-widget">
    <a href="https://www.youtube.com/channel/UC0M57S_1yo2w13w1Zg_g4gQ">
      <div class="panel-heading" style="background-image: url(/static/homepage/images/panel2.jpg)">
      </div>
    </a>
    <ul class="  profile-soc soc center-horizontal">
      <li><a class="soc-youtube" href="https://www.youtube.com/watch?v=F3hmwtnsWZA"></a></li>
      <li><a class="soc-facebook" href="https://www.youtube.com/watch?v=F3hmwtnsWZA"></a></li>
      <li><a class="soc-linkedin" href="https://www.youtube.com/watch?v=F3hmwtnsWZA"></a></li>
      <li><a class="soc-github soc-icon-last" href="https://github.com/RetroMelon"></a></li>
      <!--li><a class="soc-twitter " href="#"></a></li-->
    </ul>
    <div class="panel-body">
      <div class="media text-center">
        <div class="media-body">
          <h2 class="media-heading">Jupitur</h2>
          I knew a guy (and when i say guy, i mean planet) called jupiter once. he had a lesser-known (and when i say lesser-known i mean non-existent) brother called jupitur.
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="btn-demo-wrapper center-horizontal">
        <a type="button" class="btn btn-default" aria-label="Left Align" href="/demo">
          Demo <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
      <div class="hashtags panel-footer">
        <p class="searchable">#alienz</p>
        <p class="searchable">#jupiter</p>
        <p class="searchable">#jupitur</p>
        <p class="searchable">#planets</p>
        <p class="searchable">#space</p>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 item">
  <span class="searchable" style="display: none;">all</span>
  <div class="panel profile-widget">
    <a href="https://www.google.co.uk">
      <div class="panel-heading" style="background-image: url(/static/homepage/images/panel3.jpg)">
      </div>
    </a>
    <ul class="  profile-soc soc center-horizontal">
      <li><a class="soc-github soc-icon-last" href="https://github.com/RetroMelon"></a></li>
      <!--li><a class="soc-twitter " href="#"></a></li-->
    </ul>
    <div class="panel-body">
      <div class="media text-center">
        <div class="media-body">
          <h2 class="media-heading">Googlebat</h2>
          Another mysterious animal who redirects to google - what are the chances!???
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="btn-demo-wrapper center-horizontal">
        <a type="button" class="btn btn-warning" aria-label="Left Align" href="http://www.batcave.com">
          To The Batcave <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
      <div class="hashtags panel-footer">
        <p class="searchable">#google</p>
        <p class="searchable">#batz</p>
        <p class="searchable">#mystery</p>
        <p class="searchable">#heisagoodguytho</p>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 item">
  <span class="searchable" style="display: none;">all</span>
  <div class="panel profile-widget">
    <a href="https://www.youtube.com/watch?v=F3hmwtnsWZA">
      <div class="panel-heading" style="background-image: url(/static/homepage/images/panel4.jpg)">
      </div>
    </a>
    <ul class="  profile-soc soc center-horizontal">
      <li><a class="soc-youtube" href="https://www.youtube.com/watch?v=F3hmwtnsWZA"></a></li>
      <li><a class="soc-github soc-icon-last" href="https://github.com/RetroMelon"></a></li>
      <!--li><a class="soc-twitter " href="#"></a></li-->
    </ul>
    <div class="panel-body">
      <div class="media text-center">
        <div class="media-body">
          <h2 class="media-heading">Jigsaw</h2>
          What? No, not the game, the power-tool! Did you woodwork in school? I have my doubts, you silly billy.
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="btn-demo-wrapper center-horizontal">
        <a type="button" class="btn btn-info" aria-label="Left Align" href="/demo">
          Demo <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
      <div class="hashtags panel-footer">
        <p class="searchable">#hashtag</p>
        <p class="searchable">#robots</p>
        <p class="searchable">#alienz</p>
        <p class="searchable">#hello</p>
      </div>
    </div>
  </div>
</div>
