* {
  font: 16px Helvetica, Sans-Serif;
}


body {
  background-color: #588C7E;/*mediumquamarine cadetblue darkcyan*/
  overflow-x: hidden;
  position: absolute;
  width:100%;
}

.profile-picture {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  margin: 10px;
}

.center-horizontal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.center-vertical {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}


/* Nav Bar */
#customnav {
  position: absolute;
  height: 0px;
  width: 100%;
  padding: 0px 0px;
  margin: 0px 0px;
}

#customnav .glyphicon {
  position: relative;
  left: 0px;
  right:0px;
  padding: 30px;
  font-size: 30px;
  color: white;
}

/* Footer */
#footer {
  padding: 50px 0px 25px 0px;
  color: white;
  background-color: rgb(82, 75, 67); /*rgb(74, 65, 55)*/
  width: 100%;
  box-shadow: inset 0 20px 40px 0 rgba(0, 0, 0, 0.35);
}

#footer .center-horizontal {
  color: white;
  font-size: 14px;
  opacity: 0.6;
}
